<%= form_with(model: brand, local: true) do |form| %>

  <%= render 'partials/form_errors', model: @brand %>

  <div class="mb-3 field">
    <%= form.label :name, class: 'form-label' %>
    <%= form.text_field :name, class: 'form-control focus-me' %>
  </div>
  <div class="mb-3 field">
    <%= form.label :bod, class: 'form-label' %>
    <%= form.text_field :bod, class: 'form-control datepicker_input', data: { title: :bod } %>
  </div>
  <div class="mb-3">
    <div class="form-check form-switch">
      <%= form.check_box :yes_or_not, class: 'form-check-input', role: :switch %>
      <label class="form-check-label" for="brand_yes_or_not">Yes or Not</label>
    </div>
  </div>

  <%= render 'bottom_buttons', model: @brand %>

<% end %>
