<script>
  table_id = "#brands-table";
  // optional: remove lines to deactivate action
  edit_path = "<%= edit_brand_path(id: '<ID>') %>";
  excel_path = "<%= brands_path(format: :xls) %>";
  new_path = "<%= new_brand_path %>";
  show_path = "<%= brand_path(id: '<ID>') %>";
</script>

<h2><%= @current_page_title %></h2>
<%= bs_table_tag(:brands) do %>
  <thead>
    <tr>
      <th data-field="name" data-sortable="true">Item Name</th>
      <th data-field="bod" data-sortable="true">Date of Birth</th>
      <th data-field="yes_or_not" data-sortable="true">Yes or Not</th>
    <!-- <th data-field="edit" data-align="center"/> -->
    </tr>
  </thead>
<% end %>
