<script>
  new_path = "<%= new_brand_path %>";
  excel_path = "<%= brands_path(format: :xls) %>";
</script>

<h2><%= @current_page_title %></h2>
    <!-- <div class="col-md-4 action_buttons">
      <ul class="list-inline">
        <% if current_user.office_admin? %>
          <li>
            <%= link_to new_brand_path, class: 'btn btn-primary', id: 'action_new_button' do %>
              <span class="glyphicon glyphicon-plus"></span>
              <%= t('views.new') %> (alt-n)
            <% end %>
          </li>
        <% end %>
        <li>
          <%= link_to brands_path(format: :xls), class: 'btn btn-info' do %>
            <i class="fa fa-file-excel-o"></i>
            <%= t('views.calc_sheet') %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div> -->
<table id="brands-table"
    data-buttons-class="dark"
    data-buttons="BTTable.default_custom_buttons"
    data-cookie-id-table="brands-table"
    data-cookie="true"
    data-height="856"
    data-locale="<%= locale_xx_yy(I18n.locale) %>"
    data-maintain-meta-data="true"
    data-page-size="20"
    data-pagination-parts='["pageInfo", "pageList"]'
    data-pagination="true"
    data-remember-order="true"
    data-search-accent-neutralise="true"
    data-search-highlight="true"
    data-search="true"
    data-server-sort="true"
    data-show-columns-toggle-all="true"
    data-show-columns="true"
    data-show-refresh="true"
    data-show-toggle="true"
    data-side-pagination="server"
    data-sortable="true"
    data-sticky-header="true"
    data-table-bordered="true"
    data-table-hover="true"
    data-table-striped="true"
    data-toggle="table"
    data-toolbar=".toolbar"
    data-url="<%= brands_path(format: :json) %>"
    >
    <!--
      data-pagination-v-align="top"
      data-show-extended-pagination="true"
      data-show-fullscreen="true"



    -->

    <thead>
      <tr>
        <th data-field="id" data-sortable="true">Item ID</th>
        <th data-field="name" data-sortable="true">Item Name</th>
        <th data-field="bod" data-sortable="true">Date of Birth</th>
      </tr>
    </thead>
  </table>

<script>
  // function custom_buttons() {
  //   return {
  //     btnExcel: {
  //       text: 'Excel',
  //       icon: 'bi-file-earmark-excel',
  //       event: () => alert('Do some stuff to e.g. search all users which has logged in the last week'),
  //       attributes: {
  //         title: 'Search all users which has logged in the last week'
  //       }
  //     },
  //     btnAdd: {
  //       text: 'Add',
  //       icon: 'bi-file-earmark-plus',
  //       event: () => alert('Do some stuff to e.g. search all users which has logged in the last week'),
  //       attributes: {
  //         title: 'Search all users which has logged in the last week'
  //       }
  //     }
  //   }
  // }
</script>

      <!-- <thead>
        <tr>
          <th data-sort-initial="true" data-toggle="true"><%= Brand.human_attribute_name(:name) %></th>
          <% if current_user.office_admin? %>
            <th data-sort-ignore="true"/>
            <th data-sort-ignore="true"/>
            <th data-sort-ignore="true"/>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <%= content_tag_for(:tr, @brands) do |brand| %>
          <td><%= brand.name %></td>
          <% if current_user.office_admin? %>
            <td class="text-center">
              <%= link_to brand, class: 'btn btn-info btn-sm' do %>
                <span class="glyphicon glyphicon-ok"/>
              <% end %>
            </td>
            <td class="text-center">
              <%= link_to edit_brand_path(brand), class: 'btn btn-success btn-sm' do %>
                <span class="glyphicon glyphicon-pencil"/>
              <% end %>
            </td>
            <td class="text-center">
              <%= link_to brand, class: 'btn btn-danger btn-sm', method: :delete, data: { confirm: t('views.are_you_sure') } do %>
                <span class="glyphicon glyphicon-trash"/>
              <% end %>
            </td>
          <% end %>
        <% end %>
      </tbody>
      <tfoot class="hide-if-no-paging">
        <tr>
          <td colspan="9" class="text-center">
            <nav>
              <ul class="pagination"/>
            </nav>
          </td>
        </tr>
      </tfoot> -->
    <!-- </table> -->

<!-- </div> -->