<h2><%= @current_page_title %></h2>

<ul class="list-group list-group-flush">
  <li class="list-group-item">
    <strong><%= Brand.human_attribute_name(:name) %>:</strong> <%= @brand.name %>
  </li>
  <li class="list-group-item">
    <strong><%= Brand.human_attribute_name(:yes_or_not) %>:</strong> <%= @brand.yes_or_not %>
  </li>
  <li class="list-group-item">
    <strong><%= Brand.human_attribute_name(:name) %>:</strong> <%= @brand.name %>
  </li>
</ul>

<%= render 'bottom_buttons', model: @brand %>
