<!DOCTYPE html lang="en">
<html>
  <head>
    <title>R5template</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <% unless Rails.application.config.year == Time.zone.today.year %>
      <%# show 2017 in other color when still in 2016 %>
      <style>
        .navbar-dark {
          background-color: darkblue !important;
        }
        .navbar-dark .navbar-nav > .open > a,
        .navbar-dark .navbar-nav > .open > a:hover,
        .navbar-dark .navbar-nav > .open > a:focus {
          background-color: darkblue !important;
        }
        .navbar-dark .navbar-toggler:hover, .navbar-dark .navbar-toggler:focus {
          background-color: darkblue !important;
        }
      </style>
    <% end %>
  </head>

  <script>
    I18n.defaultLocale = "<%= I18n.default_locale %>";
    I18n.locale = "<%= I18n.locale %>";
  </script>

  <body class="<%= controller_name %> <%= action_name %>">
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark sticky-top">
      <div class="container-fluid">
        <div class="navbar-brand fw-bolder">
          <%= link_to(image_tag("pou_nou.png"), home_page) %>
          <%= Rails.application.config.year %>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <% if current_user.present? && current_user.basic? %>
          <h3 class="navbar-text navbar-left"><%= t 'views.read_only' %></h3>
        <% end %>
        <% if user_signed_in? %>
          <div class="justify-content-between">

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="nav navbar-nav">
                <% if user_signed_in? %>
                  <li class="nav-item">
                    <%= current_user.current_salesman_name %>
                  </li>
                <% end %>
                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Dropdown
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li class="dropdown-item">
                      <%= $semver.to_s %> <%= Rails.env unless Rails.env.production? %>
                    </li>
                    <li>
                      <%= link_to('error flash message', set_locale_user_path(id: current_user.id, locale: :es), method: :patch, class: 'dropdown-item') %>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled">Disabled</a>
                </li>
              </ul>
              <ul class="nav">
                <!-- session -->
                <li class="nav-item">
                  <%= AvatarPresenter.call(current_user) %>
                </li>
                <li class="dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="sessionDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <%= current_user.name %>
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="sessionDropdown">
                    <li class="dropdown-item">
                      <%= link_to t('session.profile'), 'user_path(current_user)', class: 'nav-link' %>
                    </li>
                    <li class="dropdown-item">
                      <%= link_to t('session.change_password'), edit_user_registration_path(current_user), class: 'nav-link' %>
                    </li>
                    <% if current_user.admin? %>
                      <li class="dropdown-item">
                        <%= link_to t('session.admin'), 'users_path', class: 'nav-link' %>
                      </li>
                    <% elsif current_user.office? %>
                      <li class="dropdown-item">
                        <%= link_to t('session.user_list'), 'users_path', class: 'nav-link' %>
                      </li>
                    <% end %>
                    <% if current_user.user_can_change_salesman? %>
                      <li class="dropdown-item">
                        <%= link_to t('session.change_current_salesman'), 'user_change_current_salesman_path(current_user)', class: 'nav-link' %>
                      </li>
                    <% end %>
                    <li><hr class="dropdown-divider"></li>
                    <li class="dropdown-item">
                      <%= link_to t('session.close_session'), destroy_user_session_path, method: :delete, class: 'nav-link' %>
                    </li>
                  </ul>
                </li>
              </ul>
              <%= render 'partials/language_flags' %>
            </div>
          </div>
        <% end %>
      </div>
    </nav>
    <div class="container pt-2">
      <%= render 'partials/flash_messages' %>
      <%= yield %>
    </div>
  </body>
</html>
